# Assignment no : 4

In [1]:
!pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\pc\appdata\roaming\python\python311\site-packages (4.17.2)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\pc\appdata\roaming\python\python311\site-packages (from selenium) (0.24.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\pc\appdata\roaming\python\python311\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\pc\appdata\roaming\python\python311\site-packages (from selenium) (4.9.0)
Requirement already satisfied: attrs>=20.1.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\pc\appdata\roaming\python\python311\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\pc\appdata\roaming\python\python311\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\pc\appdata\roaming\python\python311\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\pc\appdata\roaming\python\python311\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
!pip install requests

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\programdata\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests) (2023.7.22)

In [3]:
import selenium
import requests

from selenium import webdriver
from selenium.webdriver.common.by import By

from selenium.common.exceptions import NoSuchElementException
import time

import warnings
warnings.filterwarnings('ignore')

In [ ]:
Question 1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url 
= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: A)
Rank 
B) Name 
C) Artist 
D) Upload date 
E) Views

In [5]:
driver=webdriver.Chrome()

In [6]:
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [8]:
name=[]

element=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"]/tbody/tr/td[1]')
for i in element:
        name.append(i.text)
name

['"Baby Shark Dance"[6]',
 '"Despacito"[9]',
 '"Johny Johny Yes Papa"[17]',
 '"Bath Song"[18]',
 '"Shape of You"[19]',
 '"See You Again"[22]',
 '"Wheels on the Bus"[27]',
 '"Phonics Song with Two Words"[28]',
 '"Uptown Funk"[29]',
 '"Learning Colors – Colorful Eggs on a Farm"[30]',
 '"Gangnam Style"[31]',
 '"Masha and the Bear – Recipe for Disaster"[36]',
 '"Dame Tu Cosita"[37]',
 '"Axel F"[38]',
 '"Sugar"[39]',
 '"Counting Stars"[40]',
 '"Baa Baa Black Sheep"[41]',
 '"Roar"[42]',
 '"Lakdi Ki Kathi"[43]',
 '"Waka Waka (This Time for Africa)"[44]',
 '"Sorry"[45]',
 '"Thinking Out Loud"[46]',
 '"Humpty the train on a fruits ride"[47]',
 '"Shree Hanuman Chalisa"[48]',
 '"Dark Horse"[49]',
 '"Perfect"[50]',
 '"Let Her Go"[51]',
 '"Faded"[52]',
 '"Girls Like You"[53]',
 '"Lean On"[54]']

In [10]:
artist=[]
date=[]
view=[]

element2=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"]/tbody/tr/td[2]')
for i in element2:
    artist.append(i.text)
    
element3=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"]/tbody/tr/td[3]')
for i in element3:
    view.append(i.text)
    
element4=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"]/tbody/tr/td[4]')
for i in element4:
    date.append(i.text)

In [13]:
rank=[]
start=1
end=31
for i in range(start,end):
    rank.append(i)

In [14]:
import pandas as pd
df=pd.DataFrame({'Rank':rank,'Video Name':name,'Artist Name':artist,'Total Views':view,'Upload Date':date})
df

,Rank,Video Name,Artist Name,Total Views,Upload Date
0,1,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,14.09,"June 17, 2016"
1,2,"""Despacito""[9]",Luis Fonsi,8.38,"January 12, 2017"
2,3,"""Johny Johny Yes Papa""[17]",LooLoo Kids - Nursery Rhymes and Children's Songs,6.87,"October 8, 2016"
3,4,"""Bath Song""[18]",Cocomelon - Nursery Rhymes,6.62,"May 2, 2018"
4,5,"""Shape of You""[19]",Ed Sheeran,6.20,"January 30, 2017"
5,6,"""See You Again""[22]",Wiz Khalifa,6.17,"April 6, 2015"
6,7,"""Wheels on the Bus""[27]",Cocomelon - Nursery Rhymes,5.88,"May 24, 2018"
7,8,"""Phonics Song with Two Words""[28]",ChuChu TV Nursery Rhymes & Kids Songs,5.70,"March 6, 2014"
8,9,"""Uptown Funk""[29]",Mark Ronson,5.15,"November 19, 2014"
9,10,"""Learning Colors – Colorful Eggs on a Farm""[30]",Miroshka TV,5.07,"February 27, 2018"
10,11,"""Gangnam Style""[31]",Psy,5.05,"July 15, 2012"
11,12,"""Masha and the Bear – Recipe for Disaster""[36]",Get Movies,4.58,"January 31, 2012"
12,13,"""Dame Tu Cosita""[37]",Ultra Records,4.55,"April 5, 2018"
13,14,"""Axel F""[38]",Crazy Frog,4.34,"June 16, 2009"
14,15,"""Sugar""[39]",Maroon 5,4.00,"January 14, 2015"
15,16,"""Counting Stars""[40]",OneRepublic,3.97,"May 31, 2013"
16,17,"""Baa Baa Black Sheep""[41]",Cocomelon - Nursery Rhymes,3.96,"June 25, 2018"
17,18,"""Roar""[42]",Katy Perry,3.96,"September 5, 2013"
18,19,"""Lakdi Ki Kathi""[43]",Jingle Toons,3.91,"June 14, 2018"
19,20,"""Waka Waka (This Time for Africa)""[44]",Shakira,3.85,"June 4, 2010"
20,21,"""Sorry""[45]",Justin Bieber,3.77,"October 22, 2015"
21,22,"""Thinking Out Loud""[46]",Ed Sheeran,3.73,"October 7, 2014"
22,23,"""Humpty the train on a fruits ride""[47]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,3.73,"January 26, 2018"
23,24,"""Shree Hanuman Chalisa""[48]",T-Series Bhakti Sagar,3.69,"May 10, 2011"
24,25,"""Dark Horse""[49]",Katy Perry,3.67,"February 20, 2014"
25,26,"""Perfect""[50]",Ed Sheeran,3.67,"November 9, 2017"
26,27,"""Let Her Go""[51]",Passenger,3.61,"July 25, 2012"
27,28,"""Faded""[52]",Alan Walker,3.59,"December 3, 2015"
28,29,"""Girls Like You""[53]",Maroon 5,3.56,"May 31, 2018"
29,30,"""Lean On""[54]",Major Lazer Official,3.55,"March 22, 2015"

In [15]:
driver.close()

In [ ]:
Question 2. Scrape the details team India’s international fixtures from bcci.tv. 
Url = https://www.bcci.tv/. 
You need to find following details: 
A) Series 
B) Place 
C) Date 
D) Time 
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [41]:
driver=webdriver.Chrome()

In [42]:
driver.get('https://www.bcci.tv/')

In [43]:
click=driver.find_element(By.XPATH,'/html/body/header/div[3]/div[2]/ul/div[1]/a[2]')
click.click()

In [44]:
series=[]

for i in driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]'):
    series.append(i.text)
series

['ENGLAND TOUR OF INDIA 2023-24',
 'ENGLAND TOUR OF INDIA 2023-24',
 'INDIA TOUR OF ZIMBABWE 2024',
 'INDIA TOUR OF ZIMBABWE 2024',
 'INDIA TOUR OF ZIMBABWE 2024',
 'INDIA TOUR OF ZIMBABWE 2024',
 'INDIA TOUR OF ZIMBABWE 2024']

In [45]:
place=[]

for i in driver.find_elements(By.XPATH,'//span[@class="ng-binding"]'):
    place.append(i.text)
place

['Ranchi', 'Dharamsala', 'Harare', 'Harare', 'Harare', 'Harare', 'Harare']

In [46]:
date=[]

for i in driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]'):
    date.append(i.text)
date

['23 FEBRUARY, 2024',
 '7 MARCH, 2024',
 '6 JULY, 2024',
 '7 JULY, 2024',
 '10 JULY, 2024',
 '13 JULY, 2024',
 '14 JULY, 2024']

In [47]:
time=[]
for i in driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]'):
    time.append(i.text)
time

['9:30 AM IST',
 '9:30 AM IST',
 '8:00 PM IST',
 '8:00 PM IST',
 '8:00 PM IST',
 '8:00 PM IST',
 '8:00 PM IST']

In [48]:
df=pd.DataFrame({'Series':series,'Venue':place,'Date':date,'Time':time})
df

                          Series       Venue               Date         Time
0  ENGLAND TOUR OF INDIA 2023-24      Ranchi  23 FEBRUARY, 2024  9:30 AM IST
1  ENGLAND TOUR OF INDIA 2023-24  Dharamsala      7 MARCH, 2024  9:30 AM IST
2    INDIA TOUR OF ZIMBABWE 2024      Harare       6 JULY, 2024  8:00 PM IST
3    INDIA TOUR OF ZIMBABWE 2024      Harare       7 JULY, 2024  8:00 PM IST
4    INDIA TOUR OF ZIMBABWE 2024      Harare      10 JULY, 2024  8:00 PM IST
5    INDIA TOUR OF ZIMBABWE 2024      Harare      13 JULY, 2024  8:00 PM IST
6    INDIA TOUR OF ZIMBABWE 2024      Harare      14 JULY, 2024  8:00 PM IST

In [49]:
driver.close()

In [ ]:
3. Scrape the details of State-wise GDP of India from statisticstime.com. 
Url = http://statisticstimes.com/ 
You have to find following details: A) Rank 
B) State 
C) GSDP(18-19)- at current prices 
D) GSDP(19-20)- at current prices 
E) Share(18-19) 
F) GDP($ billion) 
Note: - From statisticstimes home page you have to reach to economy page through code.

In [61]:
driver=webdriver.Chrome()

In [62]:
driver.get('http://statisticstimes.com/')

In [63]:
click1=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button')
click1.click()

In [64]:
click2=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
click2.click()

In [66]:
click3=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
click3.click()

In [67]:
rank=[]
state=[]
GSDP1=[]
GSDP2=[]
share=[]
gdp=[]


element1=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[1]')
for i in element1:
    rank.append(i.text)
    
element2=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[2]')
for i in element2:
    state.append(i.text)
    
element3=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[3]')
for i in element3:
    GSDP1.append(i.text)
    
element4=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[4]')
for i in element4:
    GSDP2.append(i.text)
    
element5=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[5]')
for i in element5:
    share.append(i.text)
    
element6=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[6]')
for i in element6:
    gdp.append(i.text)

In [68]:
df=pd.DataFrame({'Rank':rank,'State':state,'GSDP(22-23) at current prices':GSDP1,'GSDP(21-22) at current prices':GSDP2,'Share(21-22)':share,'GDP($ billion)':gdp})
df

,Rank,State,GSDP(22-23) at current prices,GSDP(21-22) at current prices,Share(21-22),GDP($ billion)
0,1,Maharashtra,-,"3,108,022",13.24%,417.163
1,2,Tamil Nadu,"2,364,514","2,071,286",8.82%,278.011
2,3,Uttar Pradesh,"2,257,575","1,974,532",8.41%,265.024
3,4,Karnataka,"2,241,368","1,962,725",8.36%,263.440
4,5,Gujarat,-,"1,937,066",8.25%,259.996
...,...,...,...,...,...,...
61,29,Arunachal Pradesh,-,"31,669",0.16%,-
62,30,Sikkim,"35,670","31,519",0.16%,"17,832"
63,31,Nagaland,-,"27,859",0.14%,-
64,32,Mizoram,-,"24,293",0.12%,-
65,33,Andaman & Nicobar Islands,-,"9,209",0.05%,-

In [69]:
driver.close()

In [ ]:
4. Scrape the details of trending repositories on Github.com. 
Url = https://github.com/ 
You have to find the following details: 
A) Repository title 
B) Repository description 
C) Contributors count 
D) Language used

Note: - From the home page you have to click on the trending option from Explore menu through code.

In [7]:
driver=webdriver.Chrome()

In [8]:
driver.get('https://github.com/')

In [9]:
click1=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[1]/div[2]/button')
click1.click()

In [10]:
click2=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]')
click2.click()

In [11]:
click3=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
click3.click()

In [19]:
title=[]

for i in driver.find_elements(By.XPATH,'//a[@class="Link"]'):
    title.append(i.text)

title

['charlax / professional-programming',
 'I-S00N / I-S00N',
 'chatchat-space / Langchain-Chatchat',
 'GopeedLab / gopeed',
 'krahets / hello-algo',
 '1Panel-dev / 1Panel',
 'Kalabasa / htmz',
 'zhayujie / chatgpt-on-wechat',
 'FujiwaraChoki / MoneyPrinterV2',
 'ChatGPTNextWeb / ChatGPT-Next-Web',
 'karpathy / minbpe',
 'maybe-finance / maybe',
 'codecrafters-io / build-your-own-x',
 'QuivrHQ / quivr',
 'mut-ex / gligen-gui',
 'sherlock-project / sherlock',
 'rustdesk / rustdesk',
 'songquanpeng / one-api',
 'LargeWorldModel / LWM',
 'xtekky / gpt4free',
 'jlevy / the-art-of-command-line',
 'tw93 / Pake',
 'oddfar / campus-imaotai',
 'facebookresearch / jepa',
 'lobehub / lobe-chat']

In [24]:
url=[]
for i in driver.find_elements(By.XPATH,'//a[@class="Link"]'):
    url.append(i.get_attribute('href'))
url

['https://github.com/charlax/professional-programming',
 'https://github.com/I-S00N/I-S00N',
 'https://github.com/chatchat-space/Langchain-Chatchat',
 'https://github.com/GopeedLab/gopeed',
 'https://github.com/krahets/hello-algo',
 'https://github.com/1Panel-dev/1Panel',
 'https://github.com/Kalabasa/htmz',
 'https://github.com/zhayujie/chatgpt-on-wechat',
 'https://github.com/FujiwaraChoki/MoneyPrinterV2',
 'https://github.com/ChatGPTNextWeb/ChatGPT-Next-Web',
 'https://github.com/karpathy/minbpe',
 'https://github.com/maybe-finance/maybe',
 'https://github.com/codecrafters-io/build-your-own-x',
 'https://github.com/QuivrHQ/quivr',
 'https://github.com/mut-ex/gligen-gui',
 'https://github.com/sherlock-project/sherlock',
 'https://github.com/rustdesk/rustdesk',
 'https://github.com/songquanpeng/one-api',
 'https://github.com/LargeWorldModel/LWM',
 'https://github.com/xtekky/gpt4free',
 'https://github.com/jlevy/the-art-of-command-line',
 'https://github.com/tw93/Pake',
 'https://github.com/oddfar/campus-imaotai',
 'https://github.com/facebookresearch/jepa',
 'https://github.com/lobehub/lobe-chat']

In [28]:
description=[]
count=[]
language=[]

for i in url:
    driver.get(i)
    time.sleep(3)
    
    for _ in range(5):
        driver.execute_script('window.scrollBy(0,10)')
        time.sleep(2)
    
    try:
        element1=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/main/turbo-frame/div/div/div/div[2]/div[2]/div/div[1]/div/div/p')
        description.append(element1.text)
    except NoSuchElementException:
        description.append('-')
        
    try:
        element2=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/main/turbo-frame/div/div/div/div[2]/div[2]/div/div[3]/div/h2/a/span')
        count.append(element2.text)
    except NoSuchElementException:
        count.append('-')
        
    try:
        element3=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/main/turbo-frame/div/div/div/div[2]/div[2]/div/div[4]/div/ul/li[1]/a/span[1]')
        language.append(element3.text)
    except NoSuchElementException:
        language.append('-')

In [29]:
import pandas as pd
df=pd.DataFrame({'Repository title':title,'Repository description':description,'Contributors count':count,'Language used':language})
df

,Repository title,Repository description,Contributors count,Language used
0,charlax / professional-programming,A collection of learning resources for curious...,27,Python
1,I-S00N / I-S00N,-,,-
2,chatchat-space / Langchain-Chatchat,Langchain-Chatchat（原Langchain-ChatGLM）基于 Langc...,,-
3,GopeedLab / gopeed,A modern download manager that supports all pl...,-,-
4,krahets / hello-algo,"《Hello 算法》：动画图解、一键运行的数据结构与算法教程，支持 Python, C++,...",-,-
5,1Panel-dev / 1Panel,🔥 🔥 🔥 现代化、开源的 Linux 服务器运维管理面板。,-,-
6,Kalabasa / htmz,html with targeted manipulation zones,5,JavaScript
7,zhayujie / chatgpt-on-wechat,基于大模型搭建的微信聊天机器人，同时支持微信、企业微信、公众号、飞书、钉钉接入，可选择GPT...,1,-
8,FujiwaraChoki / MoneyPrinterV2,Automate the process of making money online.,-,-
9,ChatGPTNextWeb / ChatGPT-Next-Web,A cross-platform ChatGPT/Gemini UI (Web / PWA ...,-,-
10,karpathy / minbpe,"Minimal, clean code for the Byte Pair Encoding...",8,Python
11,maybe-finance / maybe,The OS for your personal finances,,-
12,codecrafters-io / build-your-own-x,Master programming by recreating your favorite...,,-
13,QuivrHQ / quivr,Your GenAI Second Brain 🧠 A personal productiv...,-,-
14,mut-ex / gligen-gui,An intuitive GUI for GLIGEN that uses ComfyUI ...,,-
15,sherlock-project / sherlock,🔎 Hunt down social media accounts by username ...,201,Python
16,rustdesk / rustdesk,"An open-source remote desktop, and alternative...",-,rustdesk/run-on-arch-rustdesk-rustdesk-full-fl...
17,songquanpeng / one-api,OpenAI 接口管理 & 分发系统，支持 Azure、Anthropic Claude、G...,-,one-api
18,LargeWorldModel / LWM,-,,-
19,xtekky / gpt4free,The official gpt4free repository | various col...,-,-
20,jlevy / the-art-of-command-line,"Master the command line, in one page",,-
21,tw93 / Pake,🤱🏻 Turn any webpage into a desktop app with Ru...,-,-
22,oddfar / campus-imaotai,i茅台app自动预约，每日自动预约，支持docker一键部署,2,-
23,facebookresearch / jepa,PyTorch code and models for V-JEPA self-superv...,,-
24,lobehub / lobe-chat,"🤖 Lobe Chat - an open-source, high-performance...",-,-

In [31]:
driver.close()

In [ ]:
5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the 
following details: 
A) Song name 
B) Artist name 
C) Last week rank 
D) Peak rank 
E) Weeks on board 
 Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [38]:
driver=webdriver.Chrome()

In [39]:
driver.get('https:/www.billboard.com/')

In [41]:
click1=driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[4]/div/div[1]/div[1]/button')
click1.click()

In [42]:
click2=driver.find_element(By.XPATH,'/html/body/div[3]/div[9]/div/div/div/ul/li[1]/h3/a')
click2.click()

In [43]:
click3=driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[1]/div/div[2]/span/a')
click3.click()

In [48]:
songs=[]

#Extracting Songs
try:
    element1=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[1]/h3')
    for i in element1:
        songs.append(i.text)
except NoSuchElementException:
    songs.append('-')
print(len(songs))

100

In [44]:
peak=[]

try:
    element2=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[5]')
    for i in element2:
        peak.append(i.text)
except NoSuchElementException:
    peak.append('-')
print(len(peak))

100

In [45]:
week=[]

try:
    element3=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[6]')
    for i in element3:
        week.append(i.text)
except NoSuchElementException:
    week.append('-')
print(len(week))

100

In [47]:
last=[]

try:
    element4=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[4]')
    for i in element4:
        last.append(i.text)
except NoSuchElementException:
    last.append('-')
print(len(last))

100

In [49]:
artist=[]

try:
    element5=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[1]/span')
    for i in element5:
        artist.append(i.text)
except NoSuchElementException:
    artist.append('-')
print(len(artist))

100

In [50]:
df=pd.DataFrame({'Song name':songs,'Artist name':artist,'Last week rank':last,'Peak rank':peak,'Weeks on board':week})
df

,Song name,Artist name,Last week rank,Peak rank,Weeks on board
0,Lovin On Me,Jack Harlow,1,1,14
1,Texas Hold 'Em,Beyonce,-,2,1
2,Carnival,¥$: Kanye West & Ty Dolla $ign,-,3,1
3,Beautiful Things,Benson Boone,3,3,4
4,Lose Control,Teddy Swims,2,2,27
...,...,...,...,...,...
95,Mmhmm,BigXthaPlug,83,65,8
96,Monaco,Bad Bunny,77,5,18
97,Prove It,21 Savage & Summer Walker,75,43,5
98,Perro Negro,Bad Bunny & Feid,82,20,15
99,Sunday Service,Latto,-,100,1

In [51]:
driver.close()

In [ ]:
6. Scrape the details of Highest selling novels. 
A) Book name 
B) Author name 
C) Volumes sold 
D) Publisher 
E) Genre 
 Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [52]:
driver=webdriver.Chrome()

In [53]:
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [54]:
name=[]
author=[]
volume=[]
publisher=[]
genre=[]

element1=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
for i in element1:
    name.append(i.text)
    
element2=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
for i in element2:
    author.append(i.text)
    
element3=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
for i in element3:
    volume.append(i.text)
    
element4=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
for i in element4:
    publisher.append(i.text)
    
element5=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
for i in element5:
    genre.append(i.text)

In [55]:
df=pd.DataFrame({'Book name':name,'Author name':author,'Volumes sold':volume,'Publisher':publisher,'Genre':genre})
df

,Book name,Author name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [56]:
driver.close()

In [ ]:
7. Scrape the details most watched tv series of all time from imdb.com. 
Url = https://www.imdb.com/list/ls095964455/ You have 
to find the following details: 
A) Name 
B) Year span 
C) Genre 
D) Run time 
E) Ratings 
F) Votes

In [26]:
driver=webdriver.Chrome()

In [27]:
driver.get('https://www.imdb.com/chart/tvmeter/?ref_=nv_tvv_mptv/')

In [7]:
name=[]
episode=[]
rating=[]


element1=driver.find_elements(By.XPATH,'//li[@class="ipc-metadata-list-summary-item sc-1364e729-0 caNpAE cli-parent"]/div[2]/div/div/div[2]')
for i in element1:
    name.append(i.text)
    
element2=driver.find_elements(By.XPATH,'//li[@class="ipc-metadata-list-summary-item sc-1364e729-0 caNpAE cli-parent"]/div[2]/div/div/div[3]/span[2]')
for i in element2:
    episode.append(i.text)
    
element3=driver.find_elements(By.XPATH,'//div[@class="ipc-metadata-list-summary-item__c"]/div/div/span/div/span')
for i in element3:
    rating.append(i.text)

In [28]:
url=[]
for i in driver.find_elements(By.XPATH,'//div[@class="ipc-metadata-list-summary-item__c"]/div/div/div[2]/a'):
    url.append(i.get_attribute('href'))
print(len(url))

100

In [22]:
genre=[]
rating=[]
vote=[]
year=[]

for i in url:
    driver.get(i)
    time.sleep(3)
    
    try:
        element1=driver.find_element(By.XPATH,'/html/body/div[2]/main/div/section[1]/section/div[3]/section/section/div[3]/div[2]/div[1]/section/div[1]/div[2]')
        genre.append(element1.text)
    except NoSuchElementException:
        genre.append('-')
        
    try:
        element2=driver.find_element(By.XPATH,'/html/body/div[2]/main/div/section[1]/section/div[3]/section/section/div[3]/div[2]/div[2]/div[1]/div/div[1]/a/span/div/div[2]/div[1]/span[1]')
        rating.append(element2.text)
    except NoSuchElementException:
        rating.append('-')
        
    try:
        element3=driver.find_element(By.XPATH,'/html/body/div[2]/main/div/section[1]/section/div[3]/section/section/div[3]/div[2]/div[2]/div[1]/div/div[1]/a/span/div/div[2]/div[3]')
        vote.append(element3.text)
    except NoSuchElementException:
        vote.append('-')
        
    try:
        element4=driver.find_element(By.XPATH,'/html/body/div[2]/main/div/section[1]/section/div[3]/section/section/div[2]/div[1]/ul/li[2]/a')
        year.append(element4.text)
    except NoSuchElementException:
        year.append('-')

In [23]:
import pandas as pd
df=pd.DataFrame({'Name':name,'Year span':year,'Genre':genre,'Total Episodes':episode,'Ratings':rating,'Votes':vote})
df

,Name,Year span,Genre,Total Episodes,Ratings,Votes
0,True Detective,2014–,Crime\nDrama\nMystery,30 eps,8.9,641K
1,One Day,2024,Comedy\nDrama\nRomance,14 eps,8.2,15K
2,Halo,2022–,Action\nAdventure\nSci-Fi,17 eps,7.2,79K
3,Masters of the Air,2024,Action\nDrama\nThriller,9 eps,7.9,14K
4,Mr. & Mrs. Smith,2024–,Action\nComedy\nCrime,8 eps,6.9,23K
...,...,...,...,...,...,...
95,The Witcher,2019–,Action\nAdventure\nDrama,25 eps,8.0,564K
96,You,2018–2024,Crime\nDrama\nRomance,41 eps,7.7,295K
97,From,2022–,Drama\nHorror\nMystery,30 eps,7.7,64K
98,Seinfeld,1989–1998,Comedy,173 eps,8.9,348K
99,Blue Bloods,2010–2024,Crime\nDrama\nMystery,278 eps,7.7,47K

In [29]:
driver.close()

In [ ]:
8. Details of Datasets from UCI machine learning repositories. 
Url = https://archive.ics.uci.edu/ You 
have to find the following details: 
A) Dataset name 
B) Data type 
C) Task 
D) Attribute type 
E) No of instances 
F) No of attribute G) Year 
 Note: - from the home page you have to go to the Show All Dataset page through code.

In [30]:
driver=webdriver.Chrome()

In [31]:
driver.get('https://archive.ics.uci.edu/')

In [32]:
click=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]')
click.click()

In [33]:
name=[]
types=[]
instance=[]
attribute=[]

element1=driver.find_elements(By.XPATH,'//a[@class="link-hover link text-xl font-semibold"]')
for i in element1:
    name.append(i.text)
    
element2=driver.find_elements(By.XPATH,'//div[@class="relative col-span-8 sm:col-span-7"]/div/div[2]')
for i in element2:
    types.append(i.text)
    
element3=driver.find_elements(By.XPATH,'//div[@class="relative col-span-8 sm:col-span-7"]/div/div[3]')
for i in element3:
    instance.append(i.text)
    
element4=driver.find_elements(By.XPATH,'//div[@class="relative col-span-8 sm:col-span-7"]/div/div[4]')
for i in element4:
    attribute.append(i.text)

In [38]:
url=[]
for i in driver.find_elements(By.XPATH,'//a[@class="link-hover link text-xl font-semibold"]'):
    url.append(i.get_attribute('href'))
url

['https://archive.ics.uci.edu/dataset/53/iris',
 'https://archive.ics.uci.edu/dataset/602/dry+bean+dataset',
 'https://archive.ics.uci.edu/dataset/45/heart+disease',
 'https://archive.ics.uci.edu/dataset/545/rice+cammeo+and+osmancik',
 'https://archive.ics.uci.edu/dataset/2/adult',
 'https://archive.ics.uci.edu/dataset/850/raisin',
 'https://archive.ics.uci.edu/dataset/109/wine',
 'https://archive.ics.uci.edu/dataset/17/breast+cancer+wisconsin+diagnostic',
 'https://archive.ics.uci.edu/dataset/186/wine+quality',
 'https://archive.ics.uci.edu/dataset/34/diabetes']

In [39]:
task=[]
attribute_type=[]
year=[]

for i in url:
    driver.get(i)
    time.sleep(3)
    
    try:
        element5=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[3]/p')
        task.append(element5.text)
    except NoSuchElementException:
        task.append('-')
        
    try:
        element6=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[4]/p')
        attribute_type.append(element6.text)
    except NoSuchElementException:
        attribute_type.append('-')
        
    try:
        element7=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[1]/div[2]/h2')
        year.append(element7.text)
    except NoSuchElementException:
        year.append('-')

In [50]:
instance=[]
attribute=[]

for i in url:
    driver.get(i)
    time.sleep(3)
    
    try:
        element8=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[5]/p')
        instance.append(element8.text)
    except NoSuchElementException:
        instance.append('-')
        
    try:
        element9=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[6]/p')
        attribute.append(element9.text)
    except NoSuchElementException:
        attribute.append('-')

In [51]:
df=pd.DataFrame({'Dataset name':name,'Data type':types,'Task':task,'Attribute type':attribute_type,'No of instances':instance,'No of attribute':attribute,'Year':year})
df

,Dataset name,Data type,Task,Attribute type,No of instances,No of attribute,Year
0,Iris,Tabular,Classification,Real,150,4,Donated on 6/30/1988
1,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",13611,16,Donated on 9/13/2020
2,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303,13,Donated on 6/30/1988
3,Rice (Cammeo and Osmancik),Multivariate,Classification,Real,3810,7,Donated on 10/5/2019
4,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,Donated on 4/30/1996
5,Raisin,Multivariate,Classification,"Real, Integer",900,7,Donated on 8/13/2023
6,Wine,Tabular,Classification,"Integer, Real",178,13,Donated on 6/30/1991
7,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,569,30,Donated on 10/31/1995
8,Wine Quality,Multivariate,"Classification, Regression",Real,4898,11,Donated on 10/6/2009
9,Diabetes,"Multivariate, Time-Series",Classification,"Categorical, Integer",1,20,-

In [52]:
driver.close()